/*Estilos Globales*/

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: map-get($Colores-Principales, secondary);
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-principal);

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2500' height='1200' preserveAspectRatio='none' viewBox='0 0 2500 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1075%26quot%3b)' fill='none'%3e%3crect width='2500' height='1200' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M -1585.5603029958293%2c323 C -1335.56%2c460.2 -835.56%2c973.2 -335.56030299582926%2c1009 C 164.44%2c1044.8 414.44%2c577.6 914.4396970041707%2c502 C 1414.44%2c426.4 1847.33%2c675.4 2164.4396970041707%2c631 C 2481.55%2c586.6 2432.89%2c350.2 2500%2c280' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -986.8020867932776%2c855 C -736.8%2c770.4 -236.8%2c455 263.1979132067225%2c432 C 763.2%2c409 1013.2%2c714.4 1513.1979132067224%2c740 C 2013.2%2c765.6 2565.84%2c565.2 2763.1979132067227%2c560 C 2960.56%2c554.8 2552.64%2c683.2 2500%2c714' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -2178.4021183197583%2c780 C -1928.4%2c661.4 -1428.4%2c183.8 -928.4021183197585%2c187 C -428.4%2c190.2 -178.4%2c732 321.59788168024147%2c796 C 821.6%2c860 1135.92%2c471 1571.5978816802415%2c507 C 2007.28%2c543 2314.32%2c882.2 2500%2c976' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1075'%3e%3crect width='2500' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

ul {
  list-style-type: none;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  font-family: var(--font-title);
  color: map-get($Colores-Principales,secondary);
  text-align: right;
}
li {
  line-height: 5rem;
  margin: 1rem;
}
img {
  width: 100%;
}