@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



:root {

/* Colores Principales */
// --primary:#{$primary};
// --secondary:#{$secondary};
--alternative:#{$alternative};
--text-color:#{$text-color};

/* Spacings */
--spacing-large:#{$spacing-large};
--spacing-medium:#{$spacing-medium};
--spacing-small:#{$spacing-small};
--spacing-xsmall:#{$spacing-xsmall};

/* Font-family */
--font-principal:#{$font-principal};
--font-title:#{$font-title};

/* Font-Sizes */
--text-large:#{$text-large};
--text-extra-medium:#{$text-extra-medium};
--text-medium:#{$text-medium};
--text-base:#{$text-base};
--text-small:#{$text-small};

}

