@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Colores Principales */
  $primary:#21334d;
  $secondary: #ffffff;
  $alternative: #302f4d;
  $text-color: #2b2b2b;

  /* Spacings */
  $spacing-large: 6rem;
  $spacing-medium: 2.4rem;
  $spacing-small: 2rem;
  $spacing-xsmall: 1rem;

  /* Font-family */
  $font-principal: "Noto Sans", sans-serif;
  $font-title: "Roboto", serif;

  /* Font-Sizes */
  $text-large: 5.2em;
  $text-extra-medium: 3.7em;
  $text-medium: 2.2em;
  $text-base: 1.6em;
  $text-small: 1.4em;


:root {

/* Colores Principales */
--primary:#{$primary};
--secondary:#{$secondary};
--alternative:#{$alternative};
--text-color:#{$text-color};

/* Spacings */
--spacing-large:#{$spacing-large};
--spacing-medium:#{$spacing-medium};
--spacing-small:#{$spacing-small};
--spacing-xsmall:#{$spacing-xsmall};

/* Font-family */
--font-principal:#{$font-principal};
--font-title:#{$font-title};

/* Font-Sizes */
--text-large:#{$text-large};
--text-extra-medium:#{$text-extra-medium};
--text-medium:#{$text-medium};
--text-base:#{$text-base};
--text-small:#{$text-small};

}

