@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Colors */
  --primary: #21334d;
  --secondary: #ffffff;
  --alternative: #302f4d;
  --text-color: #2b2b2b;

  /* Spacings */
  --spacing-large: 6rem;
  --spacing-medium: 2.4rem;
  --spacing-small: 2rem;
  --spacing-xsmall: 1rem;

  /* Font-family */
  --font-principal: "Noto Sans", sans-serif;
  --font-title: "Roboto", serif;

  /* Font-Sizes */
  --text-large: 5.2em;
  --text-medium: 2.2em;
  --text-base: 1.6em;
  --text-small: 1.4em;
}

/*Estilos Globales*/

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-principal);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: var(--font-title);
  color: var(--secondary);
}

img {
  width: 100%;
}


/* Encabezado - Menu de Navegación */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: var(--spacing-small) 0; */
  border-bottom: 2px solid var(--secondary);
  background-color: var(--primary);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
 z-index: 100;
}
.encabezadoPrincipal--Logo {
  width: 125px;
}
.encabezadoPrincipal--Lista {
  display: flex;
  margin: 0 auto;
}
.encabezadoPrincipal--Items {
  display: flex;
  padding: 0 var(--spacing-xsmall);
  align-items: flex-start;
  text-align: center;
}
.encabezadoPrincipal--Links {
  font-size: var(--text-xsmall);

  transition: all 800ms ease;
}
.encabezadoPrincipal--Links:hover {
  color: var(--secondary);

  transform: scale(1.3);
}

/* Primera Seccion y video Intro */
main {
  margin: 420px;
  margin: 0 auto;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}

.SeccionPrincipal {
  display: flex;
  gap: var(--spacing-xsmall);
  justify-content: center;
  flex-wrap: wrap;
  height: 87vh;
  width: AUTO;
}
.Contenedor__VideoIntro {
 display: flex;
  position: relative;
  width: 100%;
  min-width: 1200px;
  height: 108vh;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: -57px;
  overflow: hidden;

}
.VideoIntro {
  display: flex;
  justify-content: center;
  position: relative; 
  width: 110%;
  min-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: -20px;
  overflow: hidden;
  filter: grayscale();
  

}
video {
  object-fit: contain;
}

.Contenedor__VideoIntro > H1 {
 display: flex;
 justify-content: center;
 margin: auto;
  font-size: var(--text-large);
  color: var(--secondary);
  text-shadow: black 0.1em 0.1em 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.Contenedor__VideoIntro > p {
  font-size: var(--text-medium);
  color: var(--secondary);
  text-shadow: black 0.1em 0.1em 0.2em;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Sección de Cards */
.segundaSeccion--Flex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: var(--spacing-small);
}
.segundaSeccion h2 {
  display: flex;
  margin: auto;
  font-size: var(--text-large);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--spacing-xsmall);
  color: var(--primary);
  margin-top: -40px;
}

.segundaSeccion--Flex__segundoArticulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 50vh;
  flex: 1 1 var(250px 80% 300px);
}
.segundaSeccion--Flex--datos {
  width: auto;
}
.segundaSeccion--Flex__segundoArticulo--datos {
  display: flex;
  flex-direction: column;
  line-height: var(--spacing-medium);
  margin-top: 4rem;
}
.segundoArticulo__nombre {
  font-size: var(--text-medium);

  font-weight: 600;
  text-align: center;
}
.segundoArticulo__especialidad {
  padding: var(--spacing-small);
  font-size: var(--text-small);
  text-align: center;
}
/* Tercera SEccion */

.terceraSeccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--secondary);
  margin: auto;
  height: 80vh;
}
.

/* .terceraSeccion__Flex{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.terceraSeccion__Flex--Izquierda {
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -280px;
  position: relative;
}

.terceraSeccion__parrafo {
  display: flex;
  position: absolute;
  justify-content: center;
 margin-top: -180px;
 
  font-size: var(--text-medium);
  text-shadow: 2px 2px 2px #21334d;
  border-top: 5px solid #1c6ea4;
  border-bottom: 5px solid #1c6ea4;
  padding: var(--spacing-small);
}

.quienessomos {
  font-size: var(--text-medium);
  padding: var(--spacing-medium);
}
.parrafoUno{
  padding: var(--spacing-medium);
}

footer {
  height: 20vh;
}

