/* Segunda Sección - Seccion Grid */
.Contenedor_Grid {
    width: 100%;
  
    padding-bottom: 6rem 0;
  }
  .Contenedor_Grid > h2 {
    text-align: center;
    padding: 3rem 0;
    font-size: var(--text-large);
    font-family: var(--font-title);
    color: map-get($Colores-Principales, secondary);
  }
  /* Este es el contenedor Grid secundario */
  .segundaSeccion--Flex {
    // display: grid;
    // justify-content: center;
    @include flex (grid, center);
    padding-bottom: var(--spacing-large);
    gap: var(--spacing-large);
    row-gap: 15rem;
    grid-auto-rows: 35rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 0.05fr));
  }
  
  .segundaSeccion--Flex__segundoArticulo {
    max-height: 300px;
  }
  
  .segundaSeccion--Flex--datos {
    flex: 3;
  }
  .segundaSeccion--Flex__segundoArticulo--datos {
    flex: 9;
    @include flex (flex, center);
    flex-direction: column;
    
  }
  
  .segundoArticulo__nombre,
  .segundoArticulo__especialidad {
    text-align: center;
    font-size: var(--text-medium);
    font-weight: 300;
    padding: 2rem 0;
    min-height: 10rem;
    color: var(--secondary);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.6rem;
  }
  
  .segundoArticulo__especialidad {
    font-size: var(--text-small);
    text-transform: full-size-kana;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    padding: var(--spacing-xsmall) 0;
  }
  
  /* Tercera Seccion */
  /* Seccion Principal */
  .terceraSeccion {
    @include flex (flex, center);
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3rem;
    background-color: map-get($Colores-Principales, secondary);
   
    
  }
  
  .terceraSeccion__Flex--Izquierda,
  .terceraSeccion__Flex--derecha {
    min-width: 38rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: map-get($Colores-Principales, secondary);
  }
  
  .terceraSeccion__Flex--derecha {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
  }
  
  /* Parrafo de la seccion izquierda */
  .terceraSeccion__parrafo {
    font-size: var(--text-medium);
    text-align: center;
  }
  /* Encabezado seccion derecha */
  .quienessomos {
    font-size: var(--text-medium);
    text-align: center;
    line-height: 5rem;
    color: map-get($Colores-Principales, primary);
  }
  /* parrafos de la seccion derecha */
  .parrafoUno,
  .parrafoDos {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: justify;
    padding: 0rem;
    color: map-get($Colores-Principales, primary);
  }
  