.main-reserva {
  height: auto;
  padding-top: 6rem;
}

.derecha-reserva {
  filter: grayscale(0.9);
}

.izquierda-reserva {
  overflow: hidden;
}

.input-group {
  flex-direction: column;
}
#Medico {
  width: 100%;
  color: #2b2b2b;
}

.btn {
  background-color: map-get($Colores-Principales, secondary);
  width: 30%;
  align-self: center;
  color: #21334d;
}
input {
  height: 3rem;
}

.map-container {
  overflow: hidden;
  padding-bottom: 36.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 80%;
  width: 100%;
  position: absolute;
}

.form-group {
  padding: 1rem 0;
}

